/* 
 * ML Extensions - Component Styles
 * 
 * This file has been refactored into modular CSS files.
 * All component styles are now located in the ./styles folder.
 * 
 * To edit styles:
 * - Navbar styles: ./styles/navbar.css
 * - Mobile Menu: ./styles/mobile-menu.css
 * - Buttons: ./styles/button.css
 * - Hero Section: ./styles/hero.css
 * - Product Cards: ./styles/product-card.css
 * - Feature Cards: ./styles/feature-card.css
 * - Feature Showcards: ./styles/feature-showcard.css
 * - Value Cards: ./styles/value-card.css
 * - Workflow Steps: ./styles/workflow.css
 * - Grid Layouts: ./styles/grid.css
 * - Modals: ./styles/modal.css
 * - Image Modals: ./styles/image-modal.css
 * - Image Gallery: ./styles/image-gallery.css
 * - Utility Classes: ./styles/utilities.css
 */

/* Import all component styles */
@import "./styles/index.css";
